<form [formGroup]="genVouchDtlsForm" (ngSubmit)="save()">
    <div class="flex-title" mat-dialog-title>
        <div>{{pageMode | uppercase}} - General Voucher</div>
        <div mat-dialog-close>
            <button type="button" mat-icon-button isIconButton="true" aria-label="close dialog" tabindex="-1"><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="flex-space">
            <mat-form-field class="cus-readonly">
                <mat-label>No.</mat-label>
                <input type="text" matInput formControlName="No" maxlength="50" readonly required>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-error *ngIf="No.hasError('required') || No.hasError('alreadyExists')">
                    {{No.hasError('alreadyExists') ? 'No already exists' : 'Enter No'}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input type="text" matInput formControlName="date" maxlength="14" required placeholder="DD / MM / YYYY" dateOnly>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-error *ngIf="date.hasError('required')">
                    Enter date
                </mat-error>
                <mat-error *ngIf="date.hasError('errorDateValue')">
                    Enter date in valid format
                </mat-error>
            </mat-form-field>
        </div>
        <fieldset>
            <legend>
                <button type="button" mat-mini-fab color="primary" (click)="addRecord()"><mat-icon>add</mat-icon></button>
                List
            </legend>
            <div formArrayName="vouchList">
                <div class="flex mat-margin-right" [class.mb-1]="!last" *ngFor="let voucher of vouchList.controls; let i=index; let last=last" [formGroup]="voucher" matAutocompleteOrigin #codeOrigin="matAutocompleteOrigin">
                    <mat-form-field class="w-100">
                        <mat-label>Code</mat-label>
                        <input type="text" matInput maxlength="10" required formControlName="code"
                            [matAutocomplete]="autoCode" required [matAutocompleteConnectedTo]="codeOrigin"
                            (blur)="validateNSetCode($event.target.value, voucher.get('code'), firmName)" uppercase>
                        <mat-hint align="start">This field is required</mat-hint>
                        <mat-error *ngIf="voucher.get('code').hasError('InvalidCode')">
                            Enter valid code
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Firm Name</mat-label>
                        <input type="text" matInput maxlength="50" tabindex="-1" #firmName readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input type="text" matInput maxlength="10" required formControlName="desc">
                        <mat-hint align="start">This field is required</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Debit Amount</mat-label>
                        <input type="text" matInput maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" [required]="crAmt.value <= 0" [attr.tabindex]="!(crAmt.value <= 0) ? -1 : ''" formControlName="dbAmt" (input)="crAmt.value = '0.00'" (blur)="updateTotalAmount()" #dbAmt>
                        <mat-hint align="start">This field is required</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Credit Amount</mat-label>
                        <input type="text" matInput maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" [required]="dbAmt.value <= 0" [attr.tabindex]="!(dbAmt.value <= 0) ? -1 : ''" formControlName="crAmt" (input)="dbAmt.value = '0.00'" (blur)="updateTotalAmount()" #crAmt>
                        <mat-hint align="start">This field is required</mat-hint>
                    </mat-form-field>
                    <button type="button" mat-icon-button color="warn" [disabled]="vouchList.controls.length==1" (click)="removeRecord(i)"><mat-icon>delete</mat-icon></button>
                    <mat-autocomplete #autoCode="matAutocomplete" [autoActiveFirstOption]="true"
                        (optionActivated)="validateNSetCode($event.option.value, voucher.get('code'), firmName)" (optionSelected)="validateNSetCode($event.option.value, voucher.get('code'), firmName)">
                        <mat-option *ngFor="let option of filteredOptions[i] | async;" [value]="option.code">
                            {{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </fieldset>
        <div class="flex-right mt-1 mat-margin-right">
            <mat-form-field>
                <mat-label>Total Debit Amount</mat-label>
                <input type="text" matInput maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" required readonly tabindex="-1" formControlName="totDbAmt" disabled>
                <mat-error *ngIf="totDbAmt.hasError('UnequalAmt')">
                    Dr and Cr amount must match
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Total Credit Amount</mat-label>
                <input type="text" matInput maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" required readonly tabindex="-1" formControlName="totCrAmt" disabled>
                <mat-error *ngIf="totCrAmt.hasError('UnequalAmt')">
                    Dr and Cr amount must match
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!genVouchDtlsForm.valid">Save</button>
        <button type="button" mat-raised-button mat-dialog-close color="primary">Close</button>
    </div>
</form>