<form [formGroup]="inventoryDtlsForm" (submit)="save()">
    <div class="flex-title" mat-dialog-title>
        <div>{{pageMode | uppercase}} - Inventory</div>
        <div mat-dialog-close>
            <button type="button" mat-icon-button isIconButton="true" aria-label="close dialog" tabindex="-1">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>Inventory Type</mat-label>
                <mat-select formControlName="invntryType" required [disabled]="pageMode != 'create'">
                    <mat-option value="sale">Sale</mat-option>
                    <mat-option value="purchase">Purchase</mat-option>
                    <mat-option value="saleRtrn">Sale Return</mat-option>
                    <mat-option value="purchaseRtrn">Purchase Return</mat-option>
                    <mat-option value="other">Other</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="cus-readonly">
                <mat-label>SL</mat-label>
                <input type="text" matInput formControlName="SL" maxlength="50" readonly required numbersOnly>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-error *ngIf="SL.hasError('required') || SL.hasError('alreadyExists')">
                    {{SL.hasError('alreadyExists') ? 'SL already exists' : 'Enter SL'}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input type="text" matInput formControlName="date" maxlength="14" required placeholder="DD / MM / YYYY"
                    dateOnly>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-error *ngIf="date.hasError('required')">
                    Enter date
                </mat-error>
                <mat-error *ngIf="date.hasError('errorDateValue')">
                    Enter date in valid format
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cash/Credit</mat-label>
                <mat-select formControlName="cashRcredit" required>
                    <mat-option value="cash">Cash</mat-option>
                    <mat-option value="credit">Credit</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-fixed-dir" matAutocompleteOrigin #fromCodeOrigin="matAutocompleteOrigin">
            <mat-form-field class="space-3">
                <mat-label>From Code</mat-label>
                <input type="text" matInput formControlName="fromCode" maxlength="10"
                    [matAutocomplete]="autoFrmCode" required [matAutocompleteConnectedTo]="fromCodeOrigin"
                    (blur)="validateNSetFromCode($event.target.value)" uppercase>
                <mat-error *ngIf="fromCode.hasError('InvalidCode')">
                    Enter valid code
                </mat-error>
            </mat-form-field>
            <mat-form-field class="space-7">
                <mat-label>Firm Name</mat-label>
                <input type="text" matInput readonly #fromCodeFirmName tabindex="-1">
            </mat-form-field>
            <mat-autocomplete #autoFrmCode="matAutocomplete" [autoActiveFirstOption]="true"
                (optionActivated)="onSelectFromCode($event)" (optionSelected)="onSelectFromCode($event)">
                <mat-option *ngFor="let option of filteredFromOptions | async;" [value]="option.code">
                    {{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
            </mat-autocomplete>
        </div>
        <div class="flex-fixed-dir" matAutocompleteOrigin #toCodeOrigin="matAutocompleteOrigin">
            <mat-form-field  class="space-3">
                <mat-label>To Code</mat-label>
                <input type="text" matInput formControlName="toCode" maxlength="10"
                    [matAutocomplete]="autoToCode" required [matAutocompleteConnectedTo]="toCodeOrigin"
                    (blur)="validateNSetToCode($event.target.value)" uppercase>
                <mat-error *ngIf="toCode.hasError('InvalidCode')">
                    Enter valid code
                </mat-error>
            </mat-form-field>
            <mat-form-field class="space-7">
                <mat-label>Firm Name</mat-label>
                <input type="text" matInput readonly #toCodeFirmName tabindex="-1">
            </mat-form-field>
            <mat-autocomplete #autoToCode="matAutocomplete" [autoActiveFirstOption]="true"
                (optionActivated)="onSelectToCode($event)" (optionSelected)="onSelectToCode($event)">
                <mat-option *ngFor="let option of filteredToOptions | async;" [value]="option.code">
                    {{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
            </mat-autocomplete>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>Invoice number</mat-label>
                <input type="text" matInput formControlName="invcNo" maxlength="50" required>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-hint align="end">
                    {{invcNo.value.length}}/50
                </mat-hint>
                <mat-error *ngIf="invcNo.hasError('required')">
                    Enter invoice number
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Invoice Date</mat-label>
                <input type="text" matInput formControlName="invcDate" maxlength="14" required
                    placeholder="DD / MM / YYYY" dateOnly>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-error *ngIf="invcDate.hasError('required')">
                    Enter invoice date
                </mat-error>
                <mat-error *ngIf="invcDate.hasError('errorDateValue')">
                    Enter invoice date in valid format
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>5% Amount</mat-label>
                <input type="text" matInput formControlName="fiveAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" (blur)="calcPerValue(5, fiveAmt, fivePerAmt)">
            </mat-form-field>
            <mat-form-field>
                <mat-label>5% GST</mat-label>
                <input type="text" matInput formControlName="fivePerAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" readonly tabindex="-1">
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>12% Amount</mat-label>
                <input type="text" matInput formControlName="twelveAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" (blur)="calcPerValue(12, twelveAmt, twelvePerAmt)">
            </mat-form-field>
            <mat-form-field>
                <mat-label>12% GST</mat-label>
                <input type="text" matInput formControlName="twelvePerAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" readonly tabindex="-1">
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>18% Amount</mat-label>
                <input type="text" matInput formControlName="eighteenAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" (blur)="calcPerValue(18, eighteenAmt, eighteenPerAmt)">
            </mat-form-field>
            <mat-form-field>
                <mat-label>18% GST</mat-label>
                <input type="text" matInput formControlName="eighteenPerAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" readonly tabindex="-1">
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>28% Amount</mat-label>
                <input type="text" matInput formControlName="twntyEightAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" (blur)="calcPerValue(28, twntyEightAmt, twntyEightPerAmt)">
            </mat-form-field>
            <mat-form-field>
                <mat-label>28% GST</mat-label>
                <input type="text" matInput formControlName="twntyEightPerAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" readonly tabindex="-1">
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>Total Amount</mat-label>
                <input type="text" matInput formControlName="totalAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" readonly tabindex="-1">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Total GST</mat-label>
                <input type="text" matInput formControlName="totalPerAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" readonly tabindex="-1">
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>0% Amount</mat-label>
                <input type="text" matInput formControlName="zeroAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" (blur)="updateTotalInvcAmt();">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rounding</mat-label>
                <input type="text" matInput formControlName="roundingAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, allowNegative: true, setDefaultValue: true}" (blur)="updateTotalInvcAmt();">
                <mat-error *ngIf="roundingAmt.hasError('cannotBeLess')">
                    Rounding Amt cannot be less {{maxRoundingAmt()}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field class="space-full">
                <mat-label>Total Invoice Amount</mat-label>
                <input type="text" matInput formControlName="totalInvcAmt" maxlength="15" [numbersOnly]="{allowDecimal: true, allowNegative: true, setDefaultValue: true}" readonly tabindex="-1">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!inventoryDtlsForm.valid">Save</button>
        <button type="button" mat-raised-button mat-dialog-close color="primary">Close</button>
    </div>
</form>