<div class="flex-space">
    <mat-form-field class="space-9">
        <mat-label>Filter</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
    <div class="space-1">
        <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
    </div>
</div>
<div class="container">
    <table mat-table class="mat-elevation-z8" [dataSource]="voucherListDS" [trackBy]="trackList" matSort>
        <ng-container matColumnDef="SL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>SL</strong>
            </th>
            <td mat-cell *matCellDef="let voucher">{{voucher.SL}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Date</strong>
            </th>
            <td mat-cell *matCellDef="let voucher">{{voucher.date}}</td>
        </ng-container>
        <ng-container matColumnDef="fromCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>From Code</strong>
            </th>
            <td mat-cell *matCellDef="let voucher">{{voucher.fromCode}}</td>
        </ng-container>
        <ng-container matColumnDef="toCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>To Code</strong>
            </th>
            <td mat-cell *matCellDef="let voucher">{{voucher.toCode}}</td>
        </ng-container>
        <ng-container matColumnDef="billChNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Bill/Check</strong>
            </th>
            <td mat-cell *matCellDef="let voucher">{{voucher.billChNo}}</td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Desc</strong>
            </th>
            <td mat-cell *matCellDef="let voucher">{{voucher.desc}}</td>
        </ng-container>
        <ng-container matColumnDef="receipt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Receipt</strong>
            </th>
            <td mat-cell *matCellDef="let voucher" style="text-align: right;">{{voucher.receipt}}</td>
        </ng-container>
        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Payment</strong>
            </th>
            <td mat-cell *matCellDef="let voucher" style="text-align: right;">{{voucher.payment}}</td>
        </ng-container>
        <ng-container matColumnDef="oprts">
            <th mat-header-cell *matHeaderCellDef>
                <strong>Operations</strong>
            </th>
            <td mat-cell *matCellDef="let voucher">
                <button type="button" mat-icon-button (click)="edit(voucher)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button type="button" mat-icon-button (click)="delete(voucher)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="columnsToDisplay.length">
                No Data Available
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="!(voucherListDS.data.length === 0)"
            style="text-align: center;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>