/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';
@import 'stylePollyfill';

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container, .mat-sidenav-content{
  overflow: hidden !important;
}

.mt-1
{
  margin-top: 2rem;
}

.mb-1
{
  margin-bottom: 2rem;
}

.mat-margin-right
{
  .mat-form-field:first-child, .mat-form-field + .mat-form-field:not(:last-child)
  {
    margin-right: 1rem;
  }

}

.flex
{
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.align-right{
  justify-content: flex-end;
}

.flex-right
{
  @extend .flex;
  @extend .align-right;
}

.flex-title
{
  @extend .flex;
  width: 100%;
  margin-bottom: 5px !important;
}

.flex-space{

  @extend .flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px !important;

  mat-form-field{
    width: 49% !important;
  }

  .space-full{
    width: 100% !important;
  }

  .space-1{
    width: 9% !important;
    min-width: 100px;
    & > button {
      width: 100%;
    }
  }

  .space-3{
    width: 29% !important;
  }

  .space-7{
    width: 69% !important;
  }

  .space-9{
    width: 89% !important;
  }

  mat-autocomplete{
    display: none;
  }

  &.flex-space-sm{
    flex-direction: column;
  
    mat-form-field{
      width: 100% !important;
    }
  }
}

.flex-space:last-child{
  margin-bottom: 0px !important;
}

.flex-fixed-dir{
  @extend .flex-space;  
  flex-direction: row;
}

table, mat-paginator{
  width: 100%;
  overflow: hidden;
}

th.mat-header-cell
{
  font-size: 0.9rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

td.mat-cell, td.mat-footer-cell
{
  word-wrap: break-word;
  word-break: break-all;
}

.cus-readonly
{    
  background-color: gainsboro;
}

// input[type='number']
// {
//     &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
//     {
//         display: none;
//     }
//     -moz-appearance: textfield;
// }
/*
** Polyfill for flex
**
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }
  
  .wrapper {
    @include flexbox();
  }
  
  .item {
    @include flex(1 200px);
    @include order(2);
  } 
*/