<form [formGroup]="voucherDtlsForm" (submit)="save()">
    <div class="flex-title" mat-dialog-title>
        <div>{{pageMode | uppercase}} - Voucher</div>
        <div mat-dialog-close>
            <button type="button" mat-icon-button isIconButton="true" aria-label="close dialog" tabindex="-1"><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field class="cus-readonly">
                <mat-label>SL</mat-label>
                <input type="text" matInput formControlName="SL" maxlength="50" readonly required>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-error *ngIf="SL.hasError('required') || SL.hasError('alreadyExists')">
                    {{SL.hasError('alreadyExists') ? 'SL already exists' : 'Enter SL'}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input type="text" matInput formControlName="date" maxlength="14" required placeholder="DD / MM / YYYY" dateOnly>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-error *ngIf="date.hasError('required')">
                    Enter date
                </mat-error>
                <mat-error *ngIf="date.hasError('errorDateValue')">
                    Enter date in valid format
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex-fixed-dir" matAutocompleteOrigin #fromCodeOrigin="matAutocompleteOrigin">
            <mat-form-field class="space-3">
                <mat-label>From Code</mat-label>
                <input type="text" matInput formControlName="fromCode" maxlength="10" [matAutocomplete]="autoFrmCode" required uppercase [matAutocompleteConnectedTo]="fromCodeOrigin" (blur)="validateNSetFromCode($event.target.value)">
                <mat-error *ngIf="fromCode.hasError('InvalidCode')">
                    Enter valid code
                </mat-error>
            </mat-form-field>
            <mat-form-field class="space-7">
                <mat-label>Firm Name</mat-label>
                <input type="text" matInput readonly #fromCodeFirmName tabindex="-1">
            </mat-form-field>
            <mat-autocomplete #autoFrmCode="matAutocomplete" [autoActiveFirstOption]="true" (optionActivated)="onSelectFromCode($event)" (optionSelected)="onSelectFromCode($event)">
                <mat-option *ngFor="let option of filteredFromOptions | async;" [value]="option.code">{{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
            </mat-autocomplete>
        </div>
        <div class="flex-fixed-dir" matAutocompleteOrigin #toCodeOrigin="matAutocompleteOrigin">
            <mat-form-field class="space-3">
                <mat-label>To Code</mat-label>
                <input type="text" matInput formControlName="toCode" maxlength="10" [matAutocomplete]="autoToCode" required uppercase [matAutocompleteConnectedTo]="toCodeOrigin" (blur)="validateNSetToCode($event.target.value)">
                <mat-error *ngIf="toCode.hasError('InvalidCode')">
                    Enter valid code
                </mat-error>
            </mat-form-field>
            <mat-form-field class="space-7">
                <mat-label>Firm Name</mat-label>
                <input type="text" matInput readonly #toCodeFirmName tabindex="-1">
            </mat-form-field>
            <mat-autocomplete #autoToCode="matAutocomplete" [autoActiveFirstOption]="true" (optionActivated)="onSelectToCode($event)" (optionSelected)="onSelectToCode($event)">
                <mat-option *ngFor="let option of filteredToOptions | async;" [value]="option.code" >{{option.firmName + (option.town.length > 0 ? ' - ' + option.town : '') }}</mat-option>
            </mat-autocomplete>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field class="space-full">
                <mat-label>Bill/Check No</mat-label>
                <input type="text" matInput formControlName="billChNo" maxlength="50">
                <mat-hint align="end">
                    {{billChNo.value.length}}/50
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field class="space-full">
                <mat-label>Description</mat-label>
                <input type="text" matInput formControlName="desc" maxlength="50" required>
                <mat-hint align="start">This field is required</mat-hint>
                <mat-hint align="end">
                    {{desc.value.length}}/50
                </mat-hint>
                <mat-error *ngIf="SL.hasError('required')">
                    Enter description
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex-space" [class.flex-space-sm]="isSmallScrn">
            <mat-form-field>
                <mat-label>Reciept</mat-label>
                <input type="text" matInput formControlName="receipt" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" [required]="isReceiptReq" [attr.tabindex]="!isReceiptReq ? -1 : ''" (input)="payment.setValue(defaultAmount)">
                <mat-hint *ngIf="isReceiptReq" align="start">This field is required</mat-hint>
                <mat-error *ngIf="receipt.hasError('required')">
                    Enter receipt
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Payment</mat-label>
                <input type="text" matInput formControlName="payment" maxlength="15" [numbersOnly]="{allowDecimal: true, setDefaultValue: true}" [required]="isPaymentReq" [attr.tabindex]="!isPaymentReq ? -1 : ''" (input)="receipt.setValue(defaultAmount)">
                <mat-hint *ngIf="isPaymentReq" align="start">This field is required</mat-hint>
                <mat-error *ngIf="payment.hasError('required')">
                    Enter payment
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!voucherDtlsForm.valid">Save</button>
        <button type="button" mat-raised-button mat-dialog-close color="primary">Close</button>
    </div>
</form>